@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Lao:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-slate-100
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.lao-text {
  font-family: 'Noto Sans Lao', 'Phetsarath OT', sans-serif;
}
/* In your CSS file or inside a <style> tag */
.ql-editor::before {
  font-family: 'Noto Sans Lao', 'Phetsarath OT', sans-serif; /* Replace with your desired font */
  color: #9ca3af; /* Optional: Customize the placeholder color */
  font-style: italic; /* Optional: Add italic style if needed */
}

/* lao-text class to apply the custom font to the editor's text content */
.lao-text .ql-editor {
  font-family: 'Noto Sans Lao', 'Phetsarath OT', sans-serif;
}

/* In your CSS file */
.swal2-popup {
  font-family: 'Noto Sans Lao', 'Phetsarath OT', sans-serif;/* Apply your custom font */
}

/* Additional styling for the Swal2 elements if needed */
.swal2-title {
  font-family: 'Noto Sans Lao', 'Phetsarath OT', sans-serif; /* Title font */
}

.swal2-html-container, .swal2-actions {
  font-family: 'Noto Sans Lao', 'Phetsarath OT', sans-serif; /* Content font */
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  z-index: 1000;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
}

.modal button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal button:hover {
  background-color: #e53935;
}
